*.vsidx
*.ipch
*.db
/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/Build
/Debug
/out/build/x64-Debug
cmake-build-debug-visual-studio/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps 
x64/Debug
CSC8503CoreClasses/CSC8503CoreClasses.dir/Debug
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CSC8503/CSC8503.vcxproj
CSC8503/CSC8503.vcxproj.filters
CSC8503/CSC8503.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.vcxproj
CSC8503/SHADER_FILES.vcxproj.filters
CSC8503CoreClasses/CSC8503CoreClasses.vcxproj.filters
CSC8503CoreClasses/CSC8503CoreClasses.vcxproj.user
OpenGLRendering/OpenGLRendering.vcxproj.filters
NCLCoreClasses/NCLCoreClasses.vcxproj.filters
cmake_install.cmake
CSC8503/cmake_install.cmake
CSC8503CoreClasses/cmake_install.cmake
OpenGLRendering/cmake_install.cmake
NCLCoreClasses/Debug
NCLCoreClasses/NCLCoreClasses.dir/Debug
CSC8503/CSC8503.dir/Debug
OpenGLRendering/Debug
OpenGLRendering/OpenGLRendering.dir/Debug
x64/Debug/
CSC8503.sln

