*.vsidx
*.ipch
*.db
/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/Build
/Debug
/Release
/out/build/x64-Debug
cmake-build-debug-visual-studio/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps 
CSC8503/Debug
EntryPoint/Debug
EntryPoint/Release
CSC8503CoreClasses/Debug
CSC8503CoreClasses/CSC8503CoreClasses.dir/Debug
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CSC8503/CSC8503.vcxproj
CSC8503/CSC8503.vcxproj.filters
CSC8503/CSC8503.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.vcxproj
CSC8503/SHADER_FILES.vcxproj.filters
CSC8503CoreClasses/CSC8503CoreClasses.vcxproj.filters
CSC8503CoreClasses/CSC8503CoreClasses.vcxproj.user
OpenGLRendering/OpenGLRendering.vcxproj.filters
NCLCoreClasses/NCLCoreClasses.vcxproj.filters
cmake_install.cmake
CSC8503/cmake_install.cmake
CSC8503CoreClasses/cmake_install.cmake
OpenGLRendering/cmake_install.cmake

NCLCoreClasses/Debug
NCLCoreClasses/NCLCoreClasses.dir/Debug
NCLCoreClasses/Release
NCLCoreClasses/NCLCoreClasses.dir/Release

CSC8503/CSC8503.dir/Debug
CSC8503/Release
CSC8503/CSC8503.dir/Release
CSC8503CoreClasses/CSC8503CoreClasses.dir/Release
CSC8503CoreClasses/Release

OpenGLRendering/Debug
OpenGLRendering/OpenGLRendering.dir/Debug
OpenGLRendering/Release
OpenGLRendering/OpenGLRendering.dir/Release
EntryPoint/EntryPoint.dir

x64/Debug/
x64/Release/
CSC8508.sln
DebugUtils/Debug
DebugUtils/Release
DebugUtils/DebugUtils.dir
Detour/Debug
Detour/Release
Detour/Detour.dir
Recast/Debug
Recast/Release
Recast/Recast.dir
DetourTileCache/Debug
DetourTileCache/Release
DetourTileCache/DetourTileCache.dir

DebugUtils/DebugUtils.vcxproj.filters
Detour/Detour.vcxproj.filters
INSTALL.vcxproj.filters
Recast/Recast.vcxproj.filters
DetourTileCache/DetourTileCache.vcxproj.filters
DebugUtils/DebugUtils.vcxproj.user
Detour/Detour.vcxproj.user
DetourTileCache/DetourTileCache.vcxproj.user
INSTALL.vcxproj.user
Recast/Recast.vcxproj.user

GLTFLoader
PS5Starter
PS5Core
Prospero
Prospero_Debug
sce_module
Generate.bat

/EntryPoint/Debug
/EntryPoint/EntryPoint.dir
/EntryPoint/Textures.vcxproj.filters
/EntryPoint/EntryPoint.vcxproj.filters
/EntryPoint/Shaders.vcxproj.filters
/EntryPoint/EntryPoint.vcxproj.user

*ags
*png.gnf
